<phpunit
        backupGlobals="true"
        processIsolation="false"
        stopOnFailure="false"
        colors="true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Laravel Youtube">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="API_YOUTUBE_KEY" value="y"/>
        <env name="CHANNEL_ID" value="c"/>
    </php>
</phpunit>
